In [1]:
#%pip install davos
import davos

In [2]:
smuggle pandas as pd
smuggle numpy as np
smuggle os

In [3]:
current_directory = os.getcwd()
new_directory = "/Users/suelim/Documents/Research/Evaluation_Vaping_Messages/data/02_Data/Study 1"
os.chdir(new_directory)

In [ ]:
df = pd.read_csv("./01_raw_data_anonymized/study1_prolific_anonymized.csv")

In [ ]:
# Identify pairs of columns to combine based on the mapping you provided
pairs = [
    ("C_Message Rank_" + str(i), "T_Message Ranking_" + str(i)) for i in range(1, 31)
] + [
    ("C_Dis_AI" + str(i), "T_Dis_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Dis_Hum" + str(i), "T_Dis_Hum" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Con_AI" + str(i), "T_Con_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Con_Hum" + str(i), "T_Con_Hum" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Unp_AI" + str(i), "T_Unp_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Unp_Hum" + str(i), "T_Unp_Hum" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Lapp_AI" + str(i), "T_Lapp_AI" + str(i) + "_1") for i in range(1, 16)
] + [
    ("C_Lapp_Hum" + str(i), "T_Lapp_Hum" + str(i) + "_1") for i in range(1, 16)
]

# Create new columns without modifying the original DataFrame in a loop
new_cols = {}
for c_col, t_col in pairs:
    combined_col_name = c_col.replace('C_', '')
    new_cols[combined_col_name] = df[c_col].fillna(df[t_col])

# Concatenate the new columns to the original DataFrame
df = pd.concat([df, pd.DataFrame(new_cols)], axis=1)

In [ ]:
df2 = df
cols2 = df2.columns.tolist()
cols2.insert(0, cols2.pop(cols2.index('Experimental_Group')))
df2 = df2[cols2]
df2['Experimental_Group'] = df2['Experimental_Group'].map({0: 'Not Disclosed', 1: 'Disclosed'})
df2["Duration (in seconds)"] = pd.to_numeric(df2["Duration (in seconds)"])
df2 = df2[(df2["Duration (in seconds)"] > 300) & (df2["Finished"] == 1)]
# Find the index positions of 'Finished' and 'Age'
Finished_idx = cols2.index('Finished')
age_idx = cols2.index('Age')
# Reorder the columns
new_cols_order = cols2[:Finished_idx + 1] + cols2[age_idx:] + cols2[Finished_idx + 1:age_idx]
# Reassign the columns to the DataFrame based on the new order
df2 = df2[new_cols_order]
df2.head()

In [ ]:
df2.to_csv('./02_cleaned_data_file/study1_prolific_cleaned.csv', index=False)

In [ ]:
df_sona = pd.read_csv("./01_raw_data_anonymized/study1_sona_anonymized.csv")

In [ ]:
cols_sona = df_sona.columns.tolist()

# Extract unique numbers from C_Message Rank_ columns
message_rank_numbers = sorted([int(col.split('_')[-1]) for col in cols_sona if col.startswith('C_Message Rank_')])

# Generate pairs based on actual columns in dataframe for C_Message Rank_ and T_Message Ranking_
message_pairs = [("C_Message Rank_" + str(i), "T_Message Ranking_" + str(i)) for i in message_rank_numbers]

# Other pairs remain the same
other_pairs = [
    ("C_Dis_AI_" + str(i), "T_Dis_AI_" + str(i)) for i in range(1, 16)
] + [
    ("C_Dis_hum_" + str(i), "T_Dis_hum_" + str(i)) for i in range(1, 16)
] + [
    ("C_Con_AI_" + str(i), "T_Con_AI_" + str(i)) for i in range(1, 16)
] + [
    ("C_Con_hum_" + str(i), "T_Con_hum_" + str(i)) for i in range(1, 16)
] + [
    ("C_Unp_AI_" + str(i), "T_Unp_AI_" + str(i)) for i in range(1, 16)
] + [
    ("C_Unp_hum_" + str(i), "T_Unp_hum_" + str(i)) for i in range(1, 16)
] + [
    ("C_Lapp_AI_" + str(i), "T_Lapp_AI_" + str(i)) for i in range(1, 16)
] + [
    ("C_Lapp_hum_" + str(i), "T_Lapp_hum_" + str(i)) for i in range(1, 16)
]

# Combine pairs
pairs2 = message_pairs + other_pairs

# Create new columns without modifying the original DataFrame in a loop
new_cols_sona = {}
for c_col, t_col in pairs2:
    combined_col_name = c_col.replace('C_', '')
    new_cols_sona[combined_col_name] = df_sona[c_col].fillna(df_sona[t_col])

# Concatenate the new columns to the original DataFrame
df_sona = pd.concat([df_sona, pd.DataFrame(new_cols_sona)], axis=1)

In [ ]:
df_sona2 = df_sona
df_sona2['Experimental_Group'] = np.where(df_sona2['T_Message Ranking_1'].isna(), 'Not Disclosed', np.where(df_sona2['C_Message Rank_1'].isna(), 'Disclosed', np.nan))
cols_sona2 = df_sona2.columns.tolist()
cols_sona2.insert(0, cols_sona2.pop(cols_sona2.index('Experimental_Group')))
df_sona2 = df_sona2[cols_sona2]
df_sona2["Duration (in seconds)"] = pd.to_numeric(df_sona2["Duration (in seconds)"])
df_sona2 = df_sona2[(df_sona2["Duration (in seconds)"] > 300) & (df_sona2["Finished"] == 1)]
# Find the index positions of 'Finished' and 'Age'
sona_Finished_idx = cols_sona2.index('Finished')
sona_age_idx = cols_sona2.index('Age')
# Reorder the columns
new_cols_order2 = cols_sona2[:sona_Finished_idx + 1] + cols_sona2[sona_age_idx:] + cols_sona2[sona_Finished_idx + 1:sona_age_idx]
# Reassign the columns to the DataFrame based on the new order
df_sona2 = df_sona2[new_cols_order2]
df_sona2.head()

In [ ]:
df_sona2 = df_sona2.rename(columns=lambda x: x.replace('_hum', '_Hum') if '_hum' in x else x)

In [ ]:
df_sona2.to_csv('./02_cleaned_data_file/study1_sona_cleaned.csv', index=False)

In [25]:
prolific = pd.read_csv("./02_cleaned_data_file/study1_prolific_cleaned.csv")

In [26]:
selected_columns = [0] + list(range(5, 157))
prolific_cleaned = prolific.iloc[:, selected_columns]
prolific_cleaned.head()

,Experimental_Group,Age,Sex,Message Rank_1,Message Rank_2,Message Rank_3,Message Rank_4,Message Rank_5,Message Rank_6,Message Rank_7,...,Lapp_Hum6,Lapp_Hum7,Lapp_Hum8,Lapp_Hum9,Lapp_Hum10,Lapp_Hum11,Lapp_Hum12,Lapp_Hum13,Lapp_Hum14,Lapp_Hum15
0,Not Disclosed,24,Female,4.0,3.0,17.0,22.0,10.0,5.0,20.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,Not Disclosed,22,Male,28.0,12.0,22.0,16.0,6.0,17.0,24.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,Not Disclosed,24,Female,13.0,27.0,15.0,25.0,4.0,8.0,16.0,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0
3,Disclosed,24,Male,17.0,11.0,3.0,10.0,15.0,9.0,24.0,...,5.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,4.0
4,Disclosed,22,Male,29.0,14.0,27.0,2.0,23.0,1.0,3.0,...,5.0,5.0,5.0,5.0,5.0,4.0,4.0,5.0,4.0,4.0

In [27]:
prolific_cols = prolific_cleaned.columns.tolist()
prolific_cols

['Experimental_Group',
 'Age',
 'Sex',
 'Message Rank_1',
 'Message Rank_2',
 'Message Rank_3',
 'Message Rank_4',
 'Message Rank_5',
 'Message Rank_6',
 'Message Rank_7',
 'Message Rank_8',
 'Message Rank_9',
 'Message Rank_10',
 'Message Rank_11',
 'Message Rank_12',
 'Message Rank_13',
 'Message Rank_14',
 'Message Rank_15',
 'Message Rank_16',
 'Message Rank_17',
 'Message Rank_18',
 'Message Rank_19',
 'Message Rank_20',
 'Message Rank_21',
 'Message Rank_22',
 'Message Rank_23',
 'Message Rank_24',
 'Message Rank_25',
 'Message Rank_26',
 'Message Rank_27',
 'Message Rank_28',
 'Message Rank_29',
 'Message Rank_30',
 'Dis_AI1',
 'Dis_AI2',
 'Dis_AI3',
 'Dis_AI4',
 'Dis_AI5',
 'Dis_AI6',
 'Dis_AI7',
 'Dis_AI8',
 'Dis_AI9',
 'Dis_AI10',
 'Dis_AI11',
 'Dis_AI12',
 'Dis_AI13',
 'Dis_AI14',
 'Dis_AI15',
 'Dis_Hum1',
 'Dis_Hum2',
 'Dis_Hum3',
 'Dis_Hum4',
 'Dis_Hum5',
 'Dis_Hum6',
 'Dis_Hum7',
 'Dis_Hum8',
 'Dis_Hum9',
 'Dis_Hum10',
 'Dis_Hum11',
 'Dis_Hum12',
 'Dis_Hum13',
 'Dis_Hum14',
 'Dis_Hum15',
 'Con_AI1',
 'Con_AI2',
 'Con_AI3',
 'Con_AI4',
 'Con_AI5',
 'Con_AI6',
 'Con_AI7',
 'Con_AI8',
 'Con_AI9',
 'Con_AI10',
 'Con_AI11',
 'Con_AI12',
 'Con_AI13',
 'Con_AI14',
 'Con_AI15',
 'Con_Hum1',
 'Con_Hum2',
 'Con_Hum3',
 'Con_Hum4',
 'Con_Hum5',
 'Con_Hum6',
 'Con_Hum7',
 'Con_Hum8',
 'Con_Hum9',
 'Con_Hum10',
 'Con_Hum11',
 'Con_Hum12',
 'Con_Hum13',
 'Con_Hum14',
 'Con_Hum15',
 'Unp_AI1',
 'Unp_AI2',
 'Unp_AI3',
 'Unp_AI4',
 'Unp_AI5',
 'Unp_AI6',
 'Unp_AI7',
 'Unp_AI8',
 'Unp_AI9',
 'Unp_AI10',
 'Unp_AI11',
 'Unp_AI12',
 'Unp_AI13',
 'Unp_AI14',
 'Unp_AI15',
 'Unp_Hum1',
 'Unp_Hum2',
 'Unp_Hum3',
 'Unp_Hum4',
 'Unp_Hum5',
 'Unp_Hum6',
 'Unp_Hum7',
 'Unp_Hum8',
 'Unp_Hum9',
 'Unp_Hum10',
 'Unp_Hum11',
 'Unp_Hum12',
 'Unp_Hum13',
 'Unp_Hum14',
 'Unp_Hum15',
 'Lapp_AI1',
 'Lapp_AI2',
 'Lapp_AI3',
 'Lapp_AI4',
 'Lapp_AI5',
 'Lapp_AI6',
 'Lapp_AI7',
 'Lapp_AI8',
 'Lapp_AI9',
 'Lapp_AI10',
 'Lapp_AI11',
 'Lapp_AI12',
 'Lapp_AI13',
 'Lapp_AI14',
 'Lapp_AI15',
 'Lapp_Hum1',
 'Lapp_Hum2',
 'Lapp_Hum3',
 'Lapp_Hum4',
 'Lapp_Hum5',
 'Lapp_Hum6',
 'Lapp_Hum7',
 'Lapp_Hum8',
 'Lapp_Hum9',
 'Lapp_Hum10',
 'Lapp_Hum11',
 'Lapp_Hum12',
 'Lapp_Hum13',
 'Lapp_Hum14',
 'Lapp_Hum15']

In [28]:
column_mapping = {
    f"Message Rank_{i}": f"Rank_AI{i}" if i <= 15 else f"Rank_Human{i-15}"
    for i in range(1, 31)
}

prolific_cleaned = prolific_cleaned.rename(columns=column_mapping)
prolific_cleaned.head()

,Experimental_Group,Age,Sex,Rank_AI1,Rank_AI2,Rank_AI3,Rank_AI4,Rank_AI5,Rank_AI6,Rank_AI7,...,Lapp_Hum6,Lapp_Hum7,Lapp_Hum8,Lapp_Hum9,Lapp_Hum10,Lapp_Hum11,Lapp_Hum12,Lapp_Hum13,Lapp_Hum14,Lapp_Hum15
0,Not Disclosed,24,Female,4.0,3.0,17.0,22.0,10.0,5.0,20.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,Not Disclosed,22,Male,28.0,12.0,22.0,16.0,6.0,17.0,24.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,Not Disclosed,24,Female,13.0,27.0,15.0,25.0,4.0,8.0,16.0,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0
3,Disclosed,24,Male,17.0,11.0,3.0,10.0,15.0,9.0,24.0,...,5.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,4.0
4,Disclosed,22,Male,29.0,14.0,27.0,2.0,23.0,1.0,3.0,...,5.0,5.0,5.0,5.0,5.0,4.0,4.0,5.0,4.0,4.0

In [29]:
sona = pd.read_csv("./02_cleaned_data_file/study1_sona_cleaned.csv")

In [30]:
sona_cleaned = sona.iloc[:, selected_columns]
sona_cleaned.head()

,Experimental_Group,Age,Sex,Message Rank_1,Message Rank_4,Message Rank_5,Message Rank_6,Message Rank_7,Message Rank_9,Message Rank_11,...,Lapp_Hum_6,Lapp_Hum_7,Lapp_Hum_8,Lapp_Hum_9,Lapp_Hum_10,Lapp_Hum_11,Lapp_Hum_12,Lapp_Hum_13,Lapp_Hum_14,Lapp_Hum_15
0,Not Disclosed,NaN,Female,10.0,7.0,8.0,3.0,4.0,1.0,5.0,...,5.0,4.0,4.0,4.0,5.0,4.0,5.0,3.0,4.0,4.0
1,Disclosed,20.0,Female,12.0,6.0,5.0,3.0,4.0,1.0,8.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,Not Disclosed,20.0,Female,17.0,8.0,21.0,19.0,2.0,20.0,27.0,...,5.0,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0
3,Not Disclosed,19.0,Female,16.0,23.0,25.0,13.0,17.0,28.0,19.0,...,4.0,5.0,4.0,5.0,5.0,5.0,5.0,4.0,5.0,4.0
4,Not Disclosed,20.0,Male,13.0,14.0,11.0,16.0,2.0,1.0,28.0,...,5.0,4.0,3.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0

In [31]:
sona_cols = sona_cleaned.columns.tolist()
sona_cols

['Experimental_Group',
 'Age',
 'Sex',
 'Message Rank_1',
 'Message Rank_4',
 'Message Rank_5',
 'Message Rank_6',
 'Message Rank_7',
 'Message Rank_9',
 'Message Rank_11',
 'Message Rank_12',
 'Message Rank_13',
 'Message Rank_14',
 'Message Rank_15',
 'Message Rank_16',
 'Message Rank_17',
 'Message Rank_18',
 'Message Rank_19',
 'Message Rank_20',
 'Message Rank_21',
 'Message Rank_22',
 'Message Rank_23',
 'Message Rank_24',
 'Message Rank_25',
 'Message Rank_26',
 'Message Rank_27',
 'Message Rank_28',
 'Message Rank_29',
 'Message Rank_30',
 'Message Rank_31',
 'Message Rank_32',
 'Message Rank_35',
 'Message Rank_36',
 'Dis_AI_1',
 'Dis_AI_2',
 'Dis_AI_3',
 'Dis_AI_4',
 'Dis_AI_5',
 'Dis_AI_6',
 'Dis_AI_7',
 'Dis_AI_8',
 'Dis_AI_9',
 'Dis_AI_10',
 'Dis_AI_11',
 'Dis_AI_12',
 'Dis_AI_13',
 'Dis_AI_14',
 'Dis_AI_15',
 'Dis_Hum_1',
 'Dis_Hum_2',
 'Dis_Hum_3',
 'Dis_Hum_4',
 'Dis_Hum_5',
 'Dis_Hum_6',
 'Dis_Hum_7',
 'Dis_Hum_8',
 'Dis_Hum_9',
 'Dis_Hum_10',
 'Dis_Hum_11',
 'Dis_Hum_12',
 'Dis_Hum_13',
 'Dis_Hum_14',
 'Dis_Hum_15',
 'Con_AI_1',
 'Con_AI_2',
 'Con_AI_3',
 'Con_AI_4',
 'Con_AI_5',
 'Con_AI_6',
 'Con_AI_7',
 'Con_AI_8',
 'Con_AI_9',
 'Con_AI_10',
 'Con_AI_11',
 'Con_AI_12',
 'Con_AI_13',
 'Con_AI_14',
 'Con_AI_15',
 'Con_Hum_1',
 'Con_Hum_2',
 'Con_Hum_3',
 'Con_Hum_4',
 'Con_Hum_5',
 'Con_Hum_6',
 'Con_Hum_7',
 'Con_Hum_8',
 'Con_Hum_9',
 'Con_Hum_10',
 'Con_Hum_11',
 'Con_Hum_12',
 'Con_Hum_13',
 'Con_Hum_14',
 'Con_Hum_15',
 'Unp_AI_1',
 'Unp_AI_2',
 'Unp_AI_3',
 'Unp_AI_4',
 'Unp_AI_5',
 'Unp_AI_6',
 'Unp_AI_7',
 'Unp_AI_8',
 'Unp_AI_9',
 'Unp_AI_10',
 'Unp_AI_11',
 'Unp_AI_12',
 'Unp_AI_13',
 'Unp_AI_14',
 'Unp_AI_15',
 'Unp_Hum_1',
 'Unp_Hum_2',
 'Unp_Hum_3',
 'Unp_Hum_4',
 'Unp_Hum_5',
 'Unp_Hum_6',
 'Unp_Hum_7',
 'Unp_Hum_8',
 'Unp_Hum_9',
 'Unp_Hum_10',
 'Unp_Hum_11',
 'Unp_Hum_12',
 'Unp_Hum_13',
 'Unp_Hum_14',
 'Unp_Hum_15',
 'Lapp_AI_1',
 'Lapp_AI_2',
 'Lapp_AI_3',
 'Lapp_AI_4',
 'Lapp_AI_5',
 'Lapp_AI_6',
 'Lapp_AI_7',
 'Lapp_AI_8',
 'Lapp_AI_9',
 'Lapp_AI_10',
 'Lapp_AI_11',
 'Lapp_AI_12',
 'Lapp_AI_13',
 'Lapp_AI_14',
 'Lapp_AI_15',
 'Lapp_Hum_1',
 'Lapp_Hum_2',
 'Lapp_Hum_3',
 'Lapp_Hum_4',
 'Lapp_Hum_5',
 'Lapp_Hum_6',
 'Lapp_Hum_7',
 'Lapp_Hum_8',
 'Lapp_Hum_9',
 'Lapp_Hum_10',
 'Lapp_Hum_11',
 'Lapp_Hum_12',
 'Lapp_Hum_13',
 'Lapp_Hum_14',
 'Lapp_Hum_15']

In [32]:
sona_cleaned.rename(columns={
    "Message Rank_1": "Rank_AI1",
    "Message Rank_4": "Rank_AI2",
    "Message Rank_5": "Rank_AI3",
    "Message Rank_6": "Rank_AI4",
    "Message Rank_7": "Rank_AI5",
    "Message Rank_9": "Rank_AI6",
    "Message Rank_11": "Rank_AI7",
    "Message Rank_12": "Rank_AI8",
    "Message Rank_13": "Rank_AI9",
    "Message Rank_14": "Rank_AI10",
    "Message Rank_15": "Rank_AI11",
    "Message Rank_16": "Rank_AI12",
    "Message Rank_17": "Rank_AI13",
    "Message Rank_18": "Rank_AI14",
    "Message Rank_19": "Rank_AI15",
    "Message Rank_20": "Rank_Human1",
    "Message Rank_21": "Rank_Human2",
    "Message Rank_22": "Rank_Human3",
    "Message Rank_35": "Rank_Human4",
    "Message Rank_24": "Rank_Human5",
    "Message Rank_25": "Rank_Human6",
    "Message Rank_26": "Rank_Human7",
    "Message Rank_27": "Rank_Human8",
    "Message Rank_28": "Rank_Human9",
    "Message Rank_29": "Rank_Human10",
    "Message Rank_30": "Rank_Human11",
    "Message Rank_31": "Rank_Human12",
    "Message Rank_32": "Rank_Human13",
    "Message Rank_23": "Rank_Human14",
    "Message Rank_36": "Rank_Human15"}, inplace=True)
sona_cleaned.columns = sona_cleaned.columns.str.replace(r'_(?=[0-9])', '', regex=True)
sona_cleaned.head()

/var/folders/74/d4n5j0wd00v7rzjzndfvs2g80000gn/T/ipykernel_15810/3029708292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sona_cleaned.rename(columns={

,Experimental_Group,Age,Sex,Rank_AI1,Rank_AI2,Rank_AI3,Rank_AI4,Rank_AI5,Rank_AI6,Rank_AI7,...,Lapp_Hum6,Lapp_Hum7,Lapp_Hum8,Lapp_Hum9,Lapp_Hum10,Lapp_Hum11,Lapp_Hum12,Lapp_Hum13,Lapp_Hum14,Lapp_Hum15
0,Not Disclosed,NaN,Female,10.0,7.0,8.0,3.0,4.0,1.0,5.0,...,5.0,4.0,4.0,4.0,5.0,4.0,5.0,3.0,4.0,4.0
1,Disclosed,20.0,Female,12.0,6.0,5.0,3.0,4.0,1.0,8.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,Not Disclosed,20.0,Female,17.0,8.0,21.0,19.0,2.0,20.0,27.0,...,5.0,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0
3,Not Disclosed,19.0,Female,16.0,23.0,25.0,13.0,17.0,28.0,19.0,...,4.0,5.0,4.0,5.0,5.0,5.0,5.0,4.0,5.0,4.0
4,Not Disclosed,20.0,Male,13.0,14.0,11.0,16.0,2.0,1.0,28.0,...,5.0,4.0,3.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0

In [36]:
combined_df = pd.concat([prolific_cleaned, sona_cleaned], ignore_index=True, sort=False)
combined_df

,Experimental_Group,Age,Sex,Rank_AI1,Rank_AI2,Rank_AI3,Rank_AI4,Rank_AI5,Rank_AI6,Rank_AI7,...,Lapp_Hum6,Lapp_Hum7,Lapp_Hum8,Lapp_Hum9,Lapp_Hum10,Lapp_Hum11,Lapp_Hum12,Lapp_Hum13,Lapp_Hum14,Lapp_Hum15
0,Not Disclosed,24.0,Female,4.0,3.0,17.0,22.0,10.0,5.0,20.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,Not Disclosed,22.0,Male,28.0,12.0,22.0,16.0,6.0,17.0,24.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,Not Disclosed,24.0,Female,13.0,27.0,15.0,25.0,4.0,8.0,16.0,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0
3,Disclosed,24.0,Male,17.0,11.0,3.0,10.0,15.0,9.0,24.0,...,5.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,4.0
4,Disclosed,22.0,Male,29.0,14.0,27.0,2.0,23.0,1.0,3.0,...,5.0,5.0,5.0,5.0,5.0,4.0,4.0,5.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Disclosed,19.0,Female,28.0,7.0,30.0,23.0,26.0,25.0,18.0,...,5.0,5.0,4.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0
138,Not Disclosed,19.0,Male,5.0,19.0,6.0,4.0,7.0,13.0,14.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
139,Not Disclosed,19.0,Female,16.0,27.0,29.0,26.0,15.0,24.0,3.0,...,1.0,5.0,4.0,5.0,4.0,5.0,5.0,2.0,5.0,3.0
140,Disclosed,21.0,Female,20.0,22.0,9.0,17.0,27.0,19.0,6.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
141,Disclosed,19.0,Female,9.0,24.0,27.0,8.0,13.0,1.0,22.0,...,5.0,5.0,5.0,4.0,5.0,4.0,5.0,2.0,5.0,2.0

In [37]:
combined_df.to_csv('./02_cleaned_data_file/study1_data_file.csv', index=False)